.App {
  text-align: center;
}

input {
  border-bottom: 2px grey;
  display: block;
  padding: 12px 20px;
}

form-label {
  font-family: 'Heebo';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: rgba(142, 119, 119, 1);
}

.icon-style {
  position: relative;
  left: 0px;
}

.modalStyle {
  width: 500px;
  height: 500px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.161);
  position: absolute;
  top: 200px;
  left: 600px;
}

.todo {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  height: 55px;
  width: 450px;
  position: relative;
  padding:5px 0px 0px 0px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}


.todo-rect {
  position: relative;
  top: 50px;
  left: 100px;
  margin: 5px 5px 20px;
}